<h1><%= @user.name %></h1>
<hr>
<%= button_to "Edit User", edit_user_path, method: :get %>

<br>


<% @posts.each do |f| %>
  <ul> 
    <li> 
      <%= f.title %>
    </li>
  </ul>
<% end %> 


<%= link_to "New post", new_post_path(user_id: @user.id) %>

